<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Commits</title>
    <link rel="stylesheet" href="styles/globals.css">
    <link rel="stylesheet" href="styles/list.css">
</head>
<body>
    <ul>
        <% data.forEach(function(item, index) { %>
            <li>
                <div id="author">
                    <a href="coverage/<%= item.id %>/lcov-report/index.html"><%=item.id%></a>
                    <p><%=item.author.name%></p>
                    <p><%=item.author.email%></p>
                    <p><%=item.message%></p>
                </div>
                <div id="coverage">
                    <p><strong>lines:</strong> <%=item.coverageSummary.total.lines.pct%></p>
                    <p><strong>statements:</strong> <%=item.coverageSummary.total.statements.pct%></p>
                    <p><strong>functions:</strong> <%=item.coverageSummary.total.functions.pct%></p>
                    <p><strong>branches:</strong> <%=item.coverageSummary.total.branches.pct%></p>
                </div>
            </li>
        <% }) %>
    </ul>
</body>
</html>